* {
    box-sizing: border-box; /* ignores borders for width calc */
}

html {
    scroll-behavior: smooth;
    height: 100%;
  }

body {
    min-height: 100vh;;
}

/* For the top navigation (will attempt to match the bg of both pictures if possible) */
nav {
    border: 0px solid black;
    color: #F8F8FF; /* White */
}


/* Button color updates + rounding */

button {
    border-radius: 30%;
}

/* Images + their ID's (#genshin for left side, #nikke for right header); Look at making similar codes into classes instead */

#float-left {
    float: left;
    width: 50%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Genshin header setup */
#genshin-header {
    color: #f0f8ff; /* Alice Blue */
    position: absolute;
    top: 10%;
    right: 50%;
    font-size: 2.6vw; 
    text-align: center;
}

#genshin-header:hover {
    color: #00325e /* Dark aliceblue */
}

#genshin-header:active {
    color: #0063b9 /* Light-dark aliceblue */
}

.genshin-header-img {
    width: 50%;
    height: auto;
}

/* Genshin Banner */
.genshin-img {
    width: 50%;
    height: auto;
}

/* Nikke header setup */
#nikke-header {
    color: #dc143c; /* Crimson */
    position: absolute;
    top: 10%; 
    font-size: 2.6vw; 
    text-align: center;
}

#nikke-header:hover {
    color: #3a000c /* Dark crimson */
}

#nikke-header:active {
    color: #8f001d /* Light-dark crimson */
}

.nikke-header-img {
    width: 50%;
    height: auto;
}

/* Nikke Banner */
.nikke-img {
    width: 50%;
    height: auto;
}

/* About Us + Socials */
#github-dark {
    width: 10%;
}

.bottom-nav {
    position: relative;
    text-align: center;
}


/* Move nav + audio button inside of header */
.nav-header {
    content: "";
    clear: both;
    display: table;
    max-height: 20%;
  }

/* BGM button settings: Genshin */

#button-audio-genshin {
    position: absolute;
    left: 20%;
    top: 1%;
    font-size: 1vw;
    text-align: center;
    background-color: #55a0e200;
    color: #f0f8ff;
    border: .4rem inset #0086fc;
}

#button-audio-genshin:hover {
    color: #00325e /* Dark aliceblue */
}

#button-audio-genshin:active {
    color: #0063b9 /* Light-dark aliceblue */
}

/* BGM button settings: Nikke */
#button-audio-nikke {
    position: absolute;
    right: 20%;
    top: 1%;
    font-size: 1vw;
    text-align: center;
    background-color: #ff202000;
    color: #a11414;
    border: .4rem inset #690505;
}

#button-audio-nikke:hover {
    color: #3a000c;
}

#button-audio-nikke:active {
    color: #8f001d /* Light-dark crimson */
}
